.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
}

.inline {
    display: grid;
    grid-template-columns: 100px 1fr;
    width: fit-content;
    row-gap: 10%;
}

.centre {
    margin-top: auto;
    margin-bottom: auto;
    width: 90px;
}

.num {
    width: 80px;
}

.selection {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.option {
    text-align: left;
}

.single-event {
    display: none;
    grid-template-columns: 1fr 5fr;
    width: 300px;
    row-gap: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.full-year {
    display: none;
    margin-left: 10px;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}

.submit {
    margin-top: 10px;
}

.output {
    margin-top: 10px;
}

.output-container { 
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 20%;
}