<!DOCTYPE html>
<html lang="en">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form method="POST">
        <div>
            <label for="surface">Surface:</label>
                <select name="surface" onclick="surface_ty()" id="surface" class="selection" required>
                    <option value="no">-- Select option --</option>        
                    <option value="1" class="option">Roof</option>
                    <option value="2" class="option">Road</option>
                    <option value="3" class="option">Carpark</option>
                </select>
            <br>
            <div id="inputs">
                <div class="inline">
                    <div class="centre">Surface Area:</div>
                    <div>
                        <input type="number" class="num" id="area" name="area" min="1" step=".00000001" required> m<sup>2</sup>
                    </div>

                    <label for="type">Material type:</label>

                    <div id="roof">
                        <select name="roof_type" id="roof_type" class="selection" method="POST">
                            <option value="">-- Select option --</option>     
                            {% for type in roof_type %}
                            <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="road">
                        <select name="road_type" id="road-type" class="selection" method="POST">
                            <option value="">-- Select option --</option>     
                            {% for type in road_type %}
                            <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="carpark">
                        <select name="carpark_type" id="carpark_type" class="selection" method="POST">
                            <option value="">-- Select option --</option>     
                            {% for type in carpark_type %}
                            <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label for="event">Simulation:</label>
                    <select name="event" onclick="roof_sy()" id="event" class="selection" required>
                        <option value="no">-- Select option --</option>        
                        <option value="1" class="option">Full year</option>
                        <option value="2" class="option">Single event</option>
                    </select>
                </div>
                <br>

                <div class="single-event" id="single-event">
                    
                    <div class="centre">ADD:</div>
                    <div>
                        <input type="number" class="num" id="ADDipt" name="ADD" min="0" step=".00000001" required> day
                    </div>

                    <div class="centre">INT:</div>
                    <div>
                        <input type="number" class="num" id="INTipt" name="INT" min="0" step=".00000001" required> mm/h
                    </div>

                    <div class="centre">DUR:</div>
                    <div>
                        <input type="number" class="num" id="DURipt" name="DUR" min="0" step=".00000001" required> h
                    </div>

                    <div class="centre">PH:</div>
                    <div>
                     <input type="number" class="num" id="PHipt" name="PH" min="0" step=".00000001" required>
                    </div>
                </div>
                <div class="full-year" id="full-year"> 
                    <label for="location">Location:</label>
                    <select name="location" id="location" class="selection">
                        <option value="no">-- Select option --</option>        
                        <option value="1" class="option">Auckland</option>
                        <option value="2" class="option">Christchurch</option>
                        <option value="3" class="option">Wellington</option>
                    </select>
                </div>
                <button type="submit" class="submit" id="submit">Submit</button>
            </div>
        </div>
    </form>
    {% if single %}
        <div class="output">
            <div class="output-container" id="road-output">
                <div class="info-prompt">TSS:</div> 
                <div class="info" id="TSS">{{ TSS }} mg</div>
                <div class="info-prompt">TZn:</div> 
                <div class="info" id="TZn">{{ TZn }} mg</div>
                <div class="info-prompt">DZn:</div> 
                <div class="info" id="DZn">{{ DZn }} mg</div>
                <div class="info-prompt">TCu:</div> 
                <div class="info" id="TCu">{{ TCu }} mg</div>
                <div class="info-prompt">DCu:</div> 
                <div class="info" id="DCu">{{ DCu }} mg</div>
            </div>
            <br>
            {% endif %}
        {% if graph %}
        <div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>
        <div id="Graph-data" value="{{ graph_data }}"></div>
        {% endif %}
    <script>
        function surface_ty() {
            var input = document.getElementById("surface").value;
            var inputs = document.getElementById("inputs");
            var road = document.getElementById("road");
            var roof = document.getElementById("roof");
            var carpark = document.getElementById("carpark");

            var road_type = document.getElementById("road_type");
            var roof_type = document.getElementById("roof_type");
            var carpark_type = document.getElementById("carpark_type");
            if (input == 1){
                inputs.style.display = "block";
                roof.style.display = "block"
                road.style.display = "none";
                carpark.style.display = "none";
                
                road_type.required = false;
                roof_type.required = true;
                carpark_type.required = false;
            }
            else if (input == 2){
                inputs.style.display = "block";
                road.style.display = "block"
                roof.style.display = "none";
                carpark.style.display = "none";

                road_type.required = true;
                roof_type.required = false;
                carpark_type.required = false;
            }
            else if (input == 3){
                inputs.style.display = "block";
                carpark.style.display = "block";
                roof.style.display = "none"
                road.style.display = "none";

                road_type.required = false;
                roof_type.required = false;
                carpark_type.required = true;
            }
            else{
                roof.style.display = "none";
                road.style.display = "none";
                inputs.style.display = "none";
                carpark.style.display = "none";
            }
        }

        function roof_sy() {
            var input = document.getElementById("event").value;
            var FLInfo = document.getElementById("full-year");
            var SEInfo = document.getElementById("single-event");
            if (input == 1){
                FLInfo.style.display = "block"
                SEInfo.style.display = "none";
            }
            else if (input == 2){
                SEInfo.style.display = "grid";
                FLInfo.style.display = "none";
            }
            else{
                FLInfo.style.display = "none";
                SEInfo.style.display = "none";
            }
        }

        function road_sy() {
            var input = document.getElementById("road-event").value;
            var FLInfo = document.getElementById("road-full-year");
            var SEInfo = document.getElementById("road-single-event");

            var ADD = document.getElementById("ADDipt");
            var INT = document.getElementById("INTipt");
            var DUR = document.getElementById("DURipt");
            var PH = document.getElementById("PHipt");
            if (input == 1){
                FLInfo.style.display = "block"
                SEInfo.style.display = "none";
                ADD.required = false;
                INT.required = false;
                DUR.required = false;
                PH.required = false;
            }
            else if (input == 2){
                SEInfo.style.display = "grid";
                FLInfo.style.display = "none";
                ADD.required = true;
                INT.required = true;
                DUR.required = true;
                PH.required = true;
            }
            else{
                FLInfo.style.display = "none";
                SEInfo.style.display = "none";
            }
        }

        function generateData(value, i1, i2, step = 1) {
            for (let x = i1; x <= i2; x += step) {
                yValues.push((Math.round(eval(value)*1000))/1000);
                xValues.push(x);
            }
        }

        surface_ty();
        roof_sy();
        road_sy();
    </script>
    <script>
        google.charts.load('current',{packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        function drawChart() {
        
        // Set Data
        var graph_data = document.getElementById("Graph-data").value;
        const data = google.visualization.arrayToDataTable(graph_data);
        
        // Set Options
        const options = {
          title: 'TSS',
          hAxis: {title: 'Square Meters'},
          vAxis: {title: 'Price in Millions'},
          legend: 'none'
        };
        
        // Draw
        const chart = new google.visualization.LineChart(document.getElementById('myChart'));
        chart.draw(data, options);
        
        }
        </script>
    {% endblock %}
</body>
</html>